<div class="select-review-preference" *ngIf="preferences">
  <div class="preference-selector-input" *ngFor="let preference of preferences">
    <label>
      <input
        type="radio"
        name="reviewPreference"
        value="{{ preference.bucket }}"
        [(ngModel)]="preferenceSelected"
        (ngModelChange)="onChange($event)"
        #preferenceModel="ngModel"
        required
      />
      <span>{{ preference.label }}</span>
    </label>
  </div>
</div>

<!-- OLD IMPLEMENTATION -->

<!-- <label>
    <input
      type="radio"
      name="reviewPreference"
      value="{{ reviewPreferenceNameEnum.Liked }}"
      [(ngModel)]="preferenceInputEnumValue"
      (ngModelChange)="onChange($event)"
      #preferenceModel="ngModel"
      required
    />
    <span>I liked it!</span>
  </label> -->

<!-- TODO: understand this implementation -->
<!-- <p
  *ngIf="preferenceModel.invalid && preferenceModel.touched"
  class="preference-error"
>
  Please select an option to continue.
</p> -->
