<!-- TODO: adjust fomratting to align with figma -->
<div
  class="taste-profile grid sm:gap-10 xl:grid-cols-[minmax(0,1fr)_minmax(46rem,4rem)] xl:items-start px-6 sm:py-8 sm:px-8 w-full"
  class="taste-profile grid sm:gap-10 xl:grid-cols-[minmax(0,1fr)_minmax(46rem,4rem)] xl:items-start px-6 sm:py-8 sm:px-8 w-full"
>
  <div class="taste-details-wrapper order-2 xl:order-1">
    <app-taste-profile-details
      [tasteProfile]="tasteProfile"
    ></app-taste-profile-details>
  </div>
  <div
    class="taste-chart-wrapper w-full xl:justify-self-end order-1 xl:order-2"
  >
    <app-taste-chart [tasteProfile]="tasteProfile"></app-taste-chart>
  </div>
</div>
