<ng-container *ngIf="authService.user$ | async as user; else signedOut">
  <div class="header">
    <div
      *ngIf="loading"
      class="status flex min-h-[12rem] items-center justify-center px-4 text-center font-mono text-2xl text-green-700"
    >
      ...
    </div>
    <ng-container *ngIf="!loading && userBookmarks.length">
      <app-feed
        [cards]="userBookmarks"
        (productToReview)="onReviewProduct($event)"
        (productToBookmark)="onBookmarkProduct($event)"
      ></app-feed>
    </ng-container>
    <ng-container *ngIf="!loading && !userBookmarks.length">
      <ng-container *ngTemplateOutlet="emptyState"></ng-container>
    </ng-container>

    <div
      *ngIf="productToReview"
      class="fixed inset-0 z-10 flex items-center justify-center bg-black/10 p-4"
      (click)="closeReviewCard()"
    >
      <app-create-review-card
        class="max-w-2xl"
        [productCard]="productToReview"
        (click)="$event.stopPropagation()"
        (reviewCreated)="onReviewCreated($event)"
        (closeSelected)="closeReviewCard()"
      ></app-create-review-card>
    </div>
  </div>
</ng-container>

<ng-template #emptyState>
  <div
    class="status flex min-h-[12rem] items-center justify-center px-4 text-center font-mono text-xl sm:text-2xl text-green-700"
  >
    bookmark products you want to try!
  </div>
</ng-template>

<!-- TODO: styling -->
<ng-template #signedOut>
  <div
    class="status flex min-h-[12rem] items-center justify-center px-4 text-center font-mono text-xl sm:text-2xl text-green-700"
  >
    sign in or sign up to view
  </div>
</ng-template>
