<div class="recommendation-card-main">
  <img src="{{ imageUrl }}" id="product-image" />
  <h2 class="product-name">{{ name }}</h2>
  <p class="product-preparation" id="{{ preparation.id }}">
    {{ preparation.name }}
  </p>
  <div class="recommendation-percent">{{ matchPercentage }}% match</div>
  <div class="product-tagSlugs">
    <ul class="product-tagSlugs-list">
      <li *ngFor="let tag of tags; trackBy: trackById" id="{{ tag.id }}">
        {{ tag.label }}
      </li>
    </ul>
  </div>
  <a href="{{ productUrl }}" class="product-link" target="_blank"
    >Find it here</a
  >
  <button class="bookmark">Save For Later</button>
</div>
