@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --koicha-green-700: #366d49;
  --koicha-green-500: #63a179;
  --koicha-rust-700: #9f5131;
  --koicha-rust-500: #c2623b;

  /* fonts */
  --font-sans: ui-sans-serif, system-ui, -apple-system, "Inter", "SF Pro Text",
    Arial, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}
