<div
  class="quiz-question-container font-mono sm:text-4xl px-6 text-xl space-y-4 sm:px-24 sm:py-12 sm:px-80 sm:space-y-24"
>
  <div class="instruction-text opacity-0 animate-fade-in">
    Imagine stepping into a space created just for you. The air carries a gentle
    fragrance, the lighting is soft, and you’re invited to spend the afternoon
    at a tea house.
  </div>
  <div
    class="instruction-text opacity-0 animate-fade-in [animation-delay:1.6s]"
  >
    As you move through this experience, you’ll be guided by sights, scents, and
    flavors that awaken your senses.
  </div>
  <div
    class="instruction-text opacity-0 animate-fade-in [animation-delay:3.2s]"
  >
    Follow along, choose what feels most natural to you, and together we’ll
    uncover the taste profile that makes your perfect cup of matcha.
  </div>
</div>
