<!-- TODO: fix the formatting of the taste profile details for responsive text boes (text box gets pushed vertically upon resizing to smaller screen) -->
<div class="taste-profile">
  <ng-container *ngIf="tasteProfile?.details?.length; else elseBlock">
    <div class="flex flex-col gap-y-16">
      <div
        class="taste-profile-archetype"
        *ngFor="let detail of tasteProfile?.details"
      >
        <div
          class="taste-preference-text flex flex-col gap-y-6 xl:gap-y-8 pt-4 w-full max-w-3xl"
        >
          <div
            class="taste-preference-header flex flex-row gap-6 font-mono text-4xl"
          >
            <h2 class="taste-preference-heading">
              {{ detail.archetype.name }}
            </h2>
            <span class="taste-preference-match text-gray-400">
              {{ detail.archetype_match }}%</span
            >
          </div>
          <div
            class="taste-preference-description font-sans text-xl w-full md:max-w-[40vw]"
          >
            <p>{{ detail.detail_description }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div class="taste-profile-ftux">
      <div class="taste-preference-text flex flex-col gap-y-6 xl:gap-y-8 pt-4">
        <div
          class="taste-preference-header flex flex-row gap-6 font-mono text-2xl sm:text-4xl"
        >
          <a
            class="taste-preference-heading underline decoration-green-700"
            routerLink="/find-your-matcha"
            aria-current="page"
          >
            Discover Your Perfect Matcha &rarr;
          </a>
        </div>
        <div
          class="taste-preference-description font-sans sm:text-xl italic md:max-w-[40vw]"
        >
          <p>Matcha Curious?</p>
        </div>
        <div
          class="taste-preference-description font-sans sm:text-xl md:max-w-[40vw]"
        >
          <p>
            Begin this guided experience to discover your ideal taste profile so
            we can recommend the best teas to begin your matcha journey.
          </p>
        </div>
      </div>
      <div class="taste-preference-text flex flex-col gap-y-6 xl:gap-y-8 mt-16">
        <div
          class="taste-preference-header flex flex-row gap-6 font-mono text-2xl sm:text-4xl"
        >
          <a
            class="taste-preference-heading underline decoration-green-700"
            routerLink="/explore"
            aria-current="page"
            >Find Your Taste Profile &rarr;</a
          >
        </div>
        <div
          class="taste-preference-description font-sans sm:text-xl italic md:max-w-[40vw]"
        >
          <p>Matcha connoisseur?</p>
        </div>
        <div
          class="taste-preference-description font-sans sm:text-xl md:max-w-[40vw]"
        >
          <p>
            Rate some of your favorite and not so favorite teas to curate your
            taste profile and find new blends that are just right for you.
          </p>
        </div>
      </div>
    </div>
  </ng-template>
</div>
