<!-- use a slider and emit the number that the user chose -->

<div class="preference-slider" *ngIf="subPreferences">
  <div class="slider-headings" *ngFor="let subPreference of subPreferences">
    <span>{{ subPreference.label }}</span>
  </div>
  <!-- TODO: ensure that the initial value visually appears on the slider accurrately -->
  <input
    type="range"
    [min]="min"
    [max]="max"
    [step]="STEP"
    [value]="value"
    [ngModel]="ratingValueSelected"
    (ngModelChange)="onValueChange($event)"
  />
  <span class="rating-value" *ngIf="value">{{ value / 10 }}</span>
</div>
