<div
  class="preference-slider relative flex flex-col items-center"
  *ngIf="subPreferences"
>
  <!-- Rating badge in top-right -->
  <!-- TODO: rating circle color should change with the subpreference, move the color out to a property on the subpreference-->

  <div class="w-full relative flex items-center justify-center">
    <h2 class="font-mono font-semibold text-center w-full pb-6">
      Refine your rating
    </h2>
    <span
      class="rating-value flex items-center justify-center rounded-full bg-[#e3e1e1] text-balck text-sm w-9 h-9 absolute right-0"
      *ngIf="value != undefined"
    >
      {{ value / 10 }}
    </span>
  </div>

  <div class="slider-and-headings flex flex-col w-full min-h-[70px]">
    <input
      type="range"
      [min]="min"
      [max]="max"
      [step]="STEP"
      [(ngModel)]="value"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      class="w-full"
    />

    <!-- Labels -->
    <!-- TODO: change subpreference labels so they fit on one line -->

    <div class="slider-headings flex w-full mt-2 font-mono text-sm">
      <span
        class="flex-1"
        *ngFor="
          let subPreference of subPreferences;
          let isFirst = first;
          let isLast = last
        "
        [ngClass]="{
          'text-left': isFirst && !isLast,
          'text-right': isLast && !isFirst,
          'text-center': (!isFirst && !isLast) || (isFirst && isLast)
        }"
      >
        {{ subPreference.label }}
      </span>
    </div>
  </div>
</div>
