<div
  class="navbar pt-16 pb-16 px-4 font-mono flex items-center justify-between gap-6"
>
  <div class="koicha-logo" aria-label="Koicha logo">Koicha</div>

  <div class="relative flex items-center">
    <nav class="flex items-center gap-6 text-[24px]">
      <a
        routerLink="/explore"
        routerLinkActive="selected-item-rust-700"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-current="page"
        >explore</a
      >

      <a
        routerLink="/tea-shelf"
        routerLinkActive="selected-item-rust-700"
        aria-current="page"
        >tea shelf</a
      >

      <a
        routerLink="/taste-profile"
        routerLinkActive="selected-item-rust-700"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-current="page"
        >taste profile</a
      >
    </nav>

    <div class="auth-headers absolute -top-16 right-0">
      <ng-container *ngIf="authService.user$ | async as user; else loggedOut">
        <div class="user-logged-in text-right">
          <div>Hello {{ user.username }}</div>
          <button
            class="italic text-green-700 underline decoration-green-700"
            (click)="this.authService.logout()"
          >
            log out
          </button>
        </div>
      </ng-container>
      <ng-template #loggedOut>
        <app-auth-buttons></app-auth-buttons>
      </ng-template>
    </div>
  </div>
</div>
