<!-- TODO: format this as a card properly -->
<ng-container *ngIf="productCard">
  <div class="create-review-card bg-white">
    <!-- product card details -->
    <!-- TODO: format the product card content properly  -->
    <app-product-card-content
      [hideProductMetrics]="true"
      [productCardData]="productCard"
    ></app-product-card-content>

    <app-review-preference-selector
      [(preferenceInputEnumValue)]="preferenceInputEnumValue"
    ></app-review-preference-selector>

    <ng-container class="create-review-actions">
      @switch (reviewStep){@case (WRITE_REVIEW_STEP){
      <div>
        <label class="review-input">
          <span class="review-input__label">Your thoughts</span>
          <textarea
            #reviewInput
            class="review-input__textbox"
            placeholder="Share your thoughts"
            rows="4"
          ></textarea>
        </label>
      </div>

      <button
        type="button"
        [disabled]="!preferenceInputEnumValue"
        (click)="
          saveReviewInput(reviewInput.value, preferenceInputEnumValue || -1)
        "
      >
        Done
      </button>
      }@case (COMPARE_PRODUCTS_STEP){
      <!-- render the component for comparing products -->
      <app-review-product-ranking></app-review-product-ranking>
      }}
    </ng-container>
  </div>
</ng-container>
