<div class="product-card-content bg-white/80 px-5 pb-5 pt-4 backdrop-blur">
  <div class="flex items-center justify-between">
    <a
      [href]="productCardData.product_url"
      class="product-name-link font-mono text-lg font-medium"
      target="_blank"
      rel="noopener noreferrer"
      >{{ productCardData.name }}</a
    >
    <span class="product-brand font-mono text-lg">{{
      productCardData.brand
    }}</span>
  </div>
  <span
    class="product-preparation block pt-2 font-sans text-xs uppercase tracking-[0.3em]"
    [id]="productCardData.preparation.id"
  >
    {{ productCardData.preparation.name }}
  </span>
  <div class="flex items-end justify-between pt-4">
    <div class="product-tagSlugs">
      <ul
        class="product-tagSlugs-list flex flex-wrap gap-3 font-mono text-xs lowercase"
      >
        <li
          *ngFor="let tag of productCardData.tags; trackBy: trackById"
          [id]="tag.id"
        >
          {{ tag.name }}
        </li>
      </ul>
    </div>
    <ng-container class="variant" *ngIf="!hideProductMetrics">
      @switch (productCardData.variant){ @case ('review'){
      <div class="recommendation-percent font-mono text-xs">
        Rating: {{ productCardData.userScore }}
      </div>
      } @case ('recommendation'){
      <div
        class="recommendation-percent font-mono text-xs"
        *ngIf="productCardData.matchPercentage"
      >
        {{ productCardData.matchPercentage }}% match
      </div>
      } @default(){}}
    </ng-container>
  </div>
</div>
