<div class="quiz-question-container text-4xl font-mono">
  @switch (quizQuestionIndex) { @case (-1) {
  <app-first-time-quiz-intro></app-first-time-quiz-intro>
  <div
    class="w-full flex justify-end mt-6 pr-20 text-green-700 underline opacity-0 animate-fade-in [animation-delay:5.0s]"
  >
    <button class="underline-offset-4" (click)="startQuiz()">
      let's begin
    </button>
  </div>
  } @default () {
  <app-first-time-quiz-question
    [question]="quizQuestions[quizQuestionIndex]"
    [control]="answersArray?.at(quizQuestionIndex)"
    [lastQuestion]="quizQuestionIndex == quizQuestions.length - 1"
    (answerSelected)="onAnswerSelected($event)"
    (next)="next()"
    (back)="back()"
  ></app-first-time-quiz-question
  >} }
</div>
