<div class="quiz-question-container font-mono text-4xl py-24 px-56">
  <div class="instruction-text">
    Imagine stepping into a space created just for you. The air carries a gentle
    fragrance, the lighting is soft, and you’re invited to spend the afternoon
    at a tea house.
  </div>
  <div class="instruction-text mt-24">
    As you move through this experience, you’ll be guided by sights, scents, and
    flavors that awaken your senses.
  </div>
  <div class="instruction-text mt-24">
    Follow along, choose what feels most natural to you, and together we’ll
    uncover the taste profile that makes your perfect cup of matcha.
  </div>
</div>
